@import "tailwindcss";

/* Completely remove scrollbar track (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 120px;
  background-color: transparent; /* remove track */
}

::-webkit-scrollbar-track {
  background: transparent !important; /* force remove white bar */
}

::-webkit-scrollbar-track-piece {
  background: transparent !important; /* extra fix */
}

/* REMOVE ARROWS GLOBALLY */
::-webkit-scrollbar-button {
  display: none !important;
  height: 0 !important;
  width: 0 !important;
}

/* Only show purple thumb */
::-webkit-scrollbar-thumb {
  background-color: #a25de4; /* purple-600 */
  border-radius: 9999px;
  border: 2px solid transparent; /* prevents white outline */
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:vertical {
  min-height: 40px !important;  /* reduce thumb height */
  height: 40px !important;      /* force shorter thumb */
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a757ee; /* purple-700 */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #9642e6 transparent;
}

html, body {
  background-color: #080E21; /* your dark navy */
}