@import "tailwindcss";

/* Only show purple thumb */
::-webkit-scrollbar-thumb {
  background-color: #a25de4;
  /* purple-600 */
  border-radius: 9999px;
  border: 2px solid transparent;
  /* prevents white outline */
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a757ee;
  /* purple-700 */
}

html,
body {
  background-color: #080E21;
  /* your dark navy */
}

/* Target the entire scrollbar */
::-webkit-scrollbar {
  width: 10px;
  /* Slimmer look */
}

/* Hide the buttons (the arrows) */
::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

/* Style the "Thumb" (the part you grab) */
::-webkit-scrollbar-thumb {
  background-color: #9642e6;
  border-radius: 10px;

}

.footer-icon {
  @apply  text-xl rounded-full bg-[#0b1431] flex h-10 w-10
          justify-center items-center cursor-pointer flex-wrap
         transition-all duration-300 ;
}


